{:db-master-url #or [#env MASTER_DB_URL "jdbc:postgresql://localhost:5435/mysns_db?user=dev&password=password"]
 :db-replica-url #or [#env REPLICA_DB_URL"jdbc:postgresql://localhost:54350/mysns_db?user=dev&password=password"]}
